<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>渥易家.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC387B211F284F69004070FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC387B3A1F284F6A004070FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC387B451F284F6A004070FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
